.interval-option-container {
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
}
.interval {
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px gray;
}
.selected-interval {
  color: gold;
  text-shadow: 1px 1px 1px gray;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}