.bill-list-container {
  margin: auto;
  box-sizing: border-box;
  width: 300px;
}
.bill-list-row {
  display: block;
}
.bill-list-row-content {
  display: inline-block;
}
.edit-mode-btn {
  cursor: pointer;
}
.edit-mode-btn:hover {
  color: blue;
}